$breakpoint-tablet-min-width: 768px;
$breakpoint-desktop-min-width: 1024px;
$breakpoint-large-desktop-min-width: 1440px;

$horizontal-gap: 16px;

$color-primary: #10b981;
$color-purple: #d795ff;
$color-light-purple: #efd6ff;
$color-light-purple-active-background: #f3dfff;
$color-ultra-light-purple: #f8edff;
$color-dark-purple: #ab43ea;
$color-blue: #7abdff;
$color-ultra-light-blue: #ddeeff;
$color-dark-blue: #3d9fff;
$color-light-blue: #e9f5fd;
$color-green: #96f4a0;
$color-orange: #ffc149;
$color-light-grey: #f9f9f9;
$color-white: #ffffff;
$color-success: #10b981;
$color-info: #3d9fff;
$color-error: #dc2626;
$color-warn: #f78960;

$color-primary-button-text: #494949;
$color-primary-light-text: #949494;
$color-eating-window: #c8c8c8;
$color-primary-button-hover-background: #efefef;
$color-primary-button-active-background: #e3e3e3;
$color-primary-button-hover-border: #e1e1e1;
$color-primary-button-outline: #e9e9e9;
$color-outline-focus: #5e9ed6;
